body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-section-06 {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #555555;
}

.title-number {
  position: absolute;
  z-index: -1;
  font-weight: 700;
  font-size: 324.74px;
  background-image: -webkit-linear-gradient(
    161.72deg,
    #ffcfc9 -20.29%,
    rgba(255, 228, 224, 0) 116.82%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  position: relative;
  /* min-height: 100vh; */
  background-image: url("../images/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 102px;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/header/header-duga.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 81px;
  height: 50px;
}

.header__inner {
  padding: 36px 0 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  padding-right: 13px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  transition: color 0.3s ease-in;
}

.header__nav-link--registr {
  padding: 5px 20px;
  border: 0.5px solid #fc6652;
  border-radius: 20px;
}

.header__nav-link:hover {
  color: #fc6652;
}

.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.header-content__block {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}
.header-content__link {
  grid-area: 2 / 1 / 3 / 2;
}
.header__picture {
  grid-area: 1 / 2 / 3 / 3;
}

.header-content__block-title {
  width: 688px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.header-content__block-span {
  color: #fc6652;
}

.header-content__block-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #b4b4b4;
}

.header-content__link {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin-bottom: 56px;
}

.header-content__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 13px;
  transition: all 0.3s ease-in;
}

.header-content__item-link:hover {
  transform: translateY(-6px);
}

.header-content__item-link--orange {
  background: #fc6652;
  border-radius: 100px;
  padding: 24px 92px 24px 48px;
  position: relative;
}

.header-content__item-link--orange::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 32px;
  width: 23px;
  height: 23px;
  background-image: url("../images/header/play.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.header-content__item-link--border {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 24px 106px 24px 62px;
  position: relative;
}

.header-content__item-link--border::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 44px;
  width: 25px;
  height: 23px;
  background-image: url("../images/header/arrow.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.header-content__item-text {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #b6b6b6;
}

.header__btn-block {
  position: relative;
}

.header__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62px;
  cursor: pointer;
  z-index: 2;
  transition: top 0.2s ease-in;
}

.header__btn:hover {
  top: 66px;
}

.step-one {
  padding-top: 152px;
  padding-bottom: 295px;
}

.step-one__inner {
  position: relative;
}

.step-one__img-kvadrat {
  position: absolute;
  bottom: -128px;
  left: -164px;
  z-index: -1;
}

.step-one__title {
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #494947;
  margin-bottom: 160px;
}
.step-one__title::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 62px;
  background-image: url("../images/section-01/title.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1068px;
  height: 48px;
}
.step-one__title-span {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  color: #fc6652;
  letter-spacing: 4px;
}

.step-one__title-number {
  top: 100px;
  right: 23px;
}

.span-color {
  color: #fc6652;
}

.step-one__video-big {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 500px;
  box-shadow: 0px 30px 30px rgba(109, 94, 88, 0.25);
  border-radius: 20px;
  display: flex !important;
  justify-content: center;
  position: relative;
}

.step-one__video-big:hover .step-one__video-text {
  transform: translateY(-10px);
  text-shadow: 2px 9px 11px #ce5937;
}

.step-one__subtitle {
  margin-bottom: 32px;
}

.step-one__video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.video-big__play {
  position: absolute;
  top: 20%;
  left: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.video-big__play-border {
  width: 140px;
  height: 140px;
  border: 1px solid rgba(203, 59, 40, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one__video-text {
  font-weight: 500;
  font-size: 20.8232px;
  line-height: 27px;
  color: #ffffff;
  max-width: 16px;
  transition: all 0.2s ease-in;
}

.step-one__video-list {
  max-width: 488px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.step-one__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.step-one__video-small-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #494947;
  max-width: 277px;
}

.step-one__video-item-small {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 175px;
  height: 112px;
  box-shadow: 0px 30px 30px rgba(109, 94, 88, 0.25);
  border-radius: 20px;
}
.step-one__video-item-small:hover img {
  transform: scale(1.2);
}

.step-one__video-item-small img {
  transition: all 0.2s ease-in;
}

.step-one__one__gramofon-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.line-1 {
  position: absolute;
  top: 14px;
  left: 34px;
  animation: gramofon 0.3s ease-in-out infinite;
}

.line-2 {
  position: absolute;
  top: 18px;
  left: 42px;
  transform: rotate(45deg);
  animation: gramofon 0.3s ease-in-out infinite;
}

.line-3 {
  position: absolute;
  top: 28px;
  left: 46px;
  transform: rotate(88deg);
  animation: gramofon 0.3s ease-in-out infinite;
}

@keyframes gramofon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.step-one__gramofon-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #494947;
}

.video-small__span {
  color: #fc6652;
}

.step-two {
  position: relative;
  padding-bottom: 232px;
}

.step-two__cub {
  position: absolute;
  top: -312px;
  right: 0;
}

.step-two__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 64px;
  grid-row-gap: 0px;
}
.step-two__title-number {
  top: -178px;
  right: 0;
}
.step-two__content {
  position: relative;
  grid-area: 1 / 1 / 3 / 2;
}
.step-two__content::after {
  content: "";
  position: absolute;
  top: -22px;
  right: -132px;
  background: url(../images/section-02/ramka.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 764px;
  height: 460px;
  z-index: -1;
}

.step-two__content-arrows {
  position: absolute;
  margin: auto;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 26px;
  width: 46px;
  height: 46px;
}

.step-two__tests {
  padding-top: 34px;
  grid-area: 1 / 2 / 2 / 3;
}

.step-two__btn-block {
  position: relative;
  grid-area: 2 / 2 / 3 / 3;
}

.tests-btn__img {
  position: absolute;
  top: 18px;
  right: 36px;
  cursor: pointer;
}

.step-two__content-inner {
  display: flex;
  justify-content: center;
  gap: 180px;
}

.step-two__content-logo {
  padding-right: 52px;
  align-self: flex-end;
}

.step-two__content-text {
  max-width: 214px;
  font-weight: 700;
  font-size: 27px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}
.step-two__content-img {
  width: 756px;
  height: 337px;
}

.step-two__tests-title {
  margin-bottom: 24px;
}

.step-two__tests-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #555555;
}

.step-two__tests-btn {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 84px;
  background: #fc6652;
  box-shadow: 0px 20px 30px rgba(66, 44, 34, 0.33);
  padding: 22px 0 30px 65px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  border: 2px solid #fc6652;
  transition: all 0.3s ease-in;
}

.step-two__btn-block:hover .step-two__tests-btn {
  background-color: #fff;
  color: #fc6652;
  border: 2px solid #fc6652;
}

.tests-btn__img-rect,
.tests-btn__img-circle,
.tests-btn__img path {
  transition: all 0.3s ease-in;
}

.step-two__btn-block:hover .tests-btn__img .tests-btn__img-rect,
.step-two__btn-block:hover .tests-btn__img .tests-btn__img-circle {
  fill: #fc6652;
}

.step-two__btn-block:hover .tests-btn__img path {
  stroke: #fff;
}

.block-position {
  position: relative;
  padding-bottom: 198px;
}

.three-block__dop {
  position: absolute;
  bottom: -130px;
  left: 0;
  width: 100%;
}

.step-three {
  position: relative;
}

.step-three__cub-3 {
  position: absolute;
  top: -274px;
  left: -14px;
}

.step-three__cub-border {
  position: absolute;
  top: 93px;
  left: -70px;
  right: 0;
  margin: auto;
}

.step-three__cub-border-small {
  position: absolute;
  top: 316px;
  right: -6px;
}

.step-three__subtitle {
  margin-bottom: 46px;
}
.step-three__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.step-three__item {
  position: relative;
  max-width: 585px;
  height: 224px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(67, 45, 36, 0.25);
  border-radius: 20px;
  padding: 0 0 0 30px;
  transition: all 0.3s ease-in;
}

.step-three__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  background: url(../images/section-03/comp-orange.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 71px;
  height: 12px;
}

.step-three__item:hover {
  transform: translateY(-6px);
  box-shadow: 0px 0px 40px rgba(11, 3, 0, 0.25);
}

.step-three__item-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #555555;
}

.step-three__item-span {
  font-weight: 700;
}

.three-block {
  position: relative;
  z-index: 4;
}

.three {
  position: relative;
  padding: 44px 68px 38px 20px;
  height: 232px;
  max-width: 1200px;
  margin: 0 auto;
  background: url(../images/section-03/bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(245, 94, 34, 0.25);
}

.step-three__title-number {
  font-weight: 700;
  font-size: 286.111px;
  top: -58px;
  right: -10px;
  z-index: 2;
}

.three__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three__text-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 21px;
}

.three__text-two {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  max-width: 346px;
}

.three__btn {
  position: relative;
}

.three__btn:hover .three__btn-reaction {
  color: #fff;
  background-color: #fc6652;
  border: 2px solid #fff;
}

.three__btn-grom {
  position: absolute;
  top: 16px;
  right: 18px;
  z-index: 3;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.three__btn:hover .three__btn-grom path {
  fill: #fff;
}

.three__btn-reaction {
  position: relative;
  z-index: 2;
  padding: 20px 70px 20px 20px;
  background: #ffffff;
  box-shadow: 0px 8.65961px 17.3192px rgba(66, 44, 34, 0.19);
  border-radius: 65.1971px;
  font-weight: 700;
  font-size: 22.5843px;
  line-height: 30px;
  color: #fc6652;
  border: 2px solid transparent;
  transition: all 0.3s ease-in;
}

.three-orange {
  position: absolute;
  top: 0;
  right: 0;
}

.three-man {
  position: absolute;
  top: -102px;
  left: 0;
  right: 96px;
  margin: auto;
}

.section-wrapper {
  padding-top: 340px;
  padding-bottom: 80px;
  background: url(../images/bg-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.step-four {
  position: relative;
  margin-bottom: 155px;
}
.step-four__wrapper {
  position: relative;
}

.step-four__title-number {
  color: #fff;
  top: -36px;
  left: 126px;
  z-index: 1;
  opacity: 0.1;
  font-weight: 700;
  font-size: 270.267px;
}

.step-four__line-1 {
  position: absolute;
  bottom: 148px;
  left: 0;
}

.step-four__line-2 {
  position: absolute;
  top: 159px;
  right: 19px;
}

.step-four__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-row-gap: 20px;
}

.step-four__content {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
}
.step-four__subtitle {
  color: #ffffff;
  margin-bottom: 38px;
}

.step-four__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #c4c4c4;
  margin-bottom: 16px;
  max-width: 586px;
}

.step-four__content-btn {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}

.btn {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  padding: 0 124px 0 50px;
  height: 84px;
  background: #fc6652;
  filter: drop-shadow(0px 5px 50px #de412c);
  border-radius: 100px;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: translateY(-6px);
}

.step-four__content-btn-img {
  position: absolute;
  top: 20px;
  right: 46px;
}

.step-four__content-img {
  grid-area: 1 / 2 / 3 / 3;
}

.four__content-img {
  animation: myAnimImg 9s ease 0s infinite normal forwards;
}

@keyframes myAnimImg {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.step-five {
  position: relative;
  margin-bottom: 180px;
}

.step-five__line-block {
  position: absolute;
  top: 76px;
  left: 0;
  height: 352px;
}

.step-five__wrapper {
  position: relative;
}
.step-five__title-number {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 2;
  font-weight: 700;
  font-size: 381.633px;
  opacity: 0.1;
}

.step-five__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
  justify-content: space-between;
}

.step-five__img-block {
  grid-area: 1 / 1 / 3 / 2;
}

.step-five__img {
  height: 463px;
  width: 528px;
  max-width: 100%;
}
.step-five__content {
  grid-area: 1 / 2 / 2 / 3;
  max-width: 585px;
  position: relative;
}
.step-five__content::after {
  content: "";
  position: absolute;
  top: -62px;
  left: -4px;
  background: url(../images/section-05/setka.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 80px;
  height: 72px;
}
.step-five__content-btn {
  grid-area: 2 / 2 / 3 / 3;
}

.step-five__subtitle {
  font-weight: 800;
  font-size: 38.6111px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fc6652;
  margin-bottom: 48px;
}

.step-five__subtitle-dop {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 32px;
}

.step-five__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #c4c4c4;
  margin-bottom: 16px;
}

.step-five__content-text:last-child {
  margin-bottom: 32px;
}

.five-btn {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background: #fc6652;
  border-radius: 100px;
  padding: 34px 118px 30px 52px;
  z-index: 2;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0px 5px 50px #de412c);
}

.five-btn:hover {
  transform: translateY(-6px);
}

.step-five__content-btn-img {
  position: absolute;
  top: 28px;
  right: 34px;
}

.block-img {
  animation: myAnim 1.9s linear 0s infinite alternate-reverse forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateX(80deg);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }
}

.step-six {
  margin-bottom: 200px;
}

.step-six__wrapper {
  position: relative;
}

.step-six__title-number {
  position: absolute;
  bottom: 40px;
  left: 60px;
  z-index: 1;
  font-weight: 700;
  font-size: 381.633px;
  opacity: 0.1;
}

.step-six__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 50px;
}

.step-six__content {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
}

.step-six__content-title {
  position: relative;
  font-weight: 800;
  font-size: 50px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fc6652;
  text-shadow: 0px 4px 50px rgba(252, 102, 82, 0.53);
  margin-bottom: 40px;
}

.step-six__content-title::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -228px;
  background: url(../images/section-06/line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 220px;
  height: 5px;
}

.step-six__content-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 20px;
}

.step-six__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 634px;
}
.step-six__button {
  grid-area: 2 / 1 / 3 / 2;
}

.step-six__button-btn {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background: #fc6652;
  border-radius: 100px;
  padding: 26px 146px 24px 70px;
  transition: all 0.3s ease-in;
  z-index: 2;
  filter: drop-shadow(0px 5px 50px #de412c);
}

.step-six__button-btn:hover {
  transform: translateY(-6px);
}

.step-six__button-img {
  position: absolute;
  top: 16px;
  right: 60px;
}

.step-six__imgs {
  position: relative;
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(15, 38px);
  grid-template-rows: repeat(17, 38px);
  /* grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

.step-six__imgs::after {
  content: "";
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/section-06/setka.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 440px;
  height: 504px;
}

.step-six__img-block-1 {
  grid-area: 1 / 11 / 5 / 13;
}

.step-six__img-block-2 {
  position: relative;
  grid-area: 3 / 1 / 10 / 7;
}

.step-six__img-block-2::after {
  content: "";
  position: absolute;
  bottom: 110px;
  right: -42px;
  background: url(../images/section-06/arrow-gray.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 164px;
  height: 54px;
}

.step-six__img-2-text {
  position: absolute;
  top: -104px;
  left: -18px;
  background: rgba(73, 73, 71, 0.5);
  box-shadow: 0px 0px 13.9386px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 20px;
  width: 200px;
  animation: myAnimText 5s ease 1s infinite normal forwards;
}

.step-six__img-2-text::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 92px;
  width: 10px;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 5px;
  border-top: 15px solid rgba(73, 73, 71, 0.5);
}

.step-six__img-block-3 {
  position: relative;
  grid-area: 5 / 7 / 11 / 13;
}
.step-six__img-block-3::after {
  content: "";
  position: absolute;
  bottom: -48px;
  right: 27px;
  background: url(../images/section-06/arrow-red.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 208px;
  height: 151px;
}

.step-six__img-3-text {
  position: absolute;
  top: -100px;
  right: 5px;
  background: rgba(73, 73, 71, 0.5);
  box-shadow: 0px 0px 13.9386px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 20px;
  width: 230px;
  animation: myAnimText 5s ease 1s infinite normal forwards;
}

.step-six__img-3-text::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 103px;
  width: 10px;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 5px;
  border-top: 15px solid rgba(73, 73, 71, 0.5);
}

.step-six__img-block-4 {
  grid-area: 7 / 14 / 12 / 16;
}

.step-six__img-block-5 {
  grid-area: 10 / 1 / 14 / 3;
}

.step-six__img-block-6 {
  position: relative;
  grid-area: 12 / 3 / 18 / 7;
}

.step-six__img-6-skew {
  position: absolute;
  top: -54px;
  left: 232px;
  transform: skew(45deg, -31deg);
}

.step-six__img-6-text {
  font-weight: 700;
  font-size: 24.9152px;
  line-height: 32px;
  text-align: center;
  color: #c2c2c2;
}

.step-six__img-3-text,
.step-six__img-2-text {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.step-six__img-1,
.step-six__img-4,
.step-six__img-5 {
  animation: myAnimImgBlock 2s linear 0s infinite alternate-reverse forwards;
}

.step-six__img-2 {
  animation: myAnimImgBlock 2s linear 0s infinite alternate-reverse forwards;
}

.step-six__img-3 {
  animation: myAnimImgBlock 2s linear 0s infinite alternate-reverse forwards;
}
.step-six__img-6 {
  animation: myAnimImgBlock 2s linear 0s infinite alternate-reverse forwards;
}

@keyframes myAnimText {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes myAnimImgBlock {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }
}

.step {
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 48px;
}

.step::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/step/line.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 1px;
}

.step__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 64px;
}

.step__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step__item {
  position: relative;
  max-width: 400px;
  min-height: 444px;
  background-color: #fff;
  padding: 76px 20px 48px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.step__item-2 {
  color: #fff;
  background: #fc6652;
  box-shadow: 0px 0px 50px rgba(252, 102, 82, 0.6);
  position: relative;
  z-index: 2;
}

.step__item-1 {
  transform: translateX(400px);
  transition: all 0.7s ease-in;
}
.step__item-3 {
  transform: translateX(-400px);
  transition: all 0.7s ease-in;
}

.step__item-1.show {
  transform: translateX(0);
}

.step__item-3.show {
  transform: translateX(0);
}

.step__item-number {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: #fc6652;
  font-weight: 700;
  font-size: 22.4842px;
  line-height: 30px;
  color: #ffffff;
  padding: 6px;
  width: 44px;
  height: 44px;
  text-align: center;
}
.step__item-number-3 {
  position: absolute;
  top: 0;
  right: 24px;
  background-color: #fc6652;
  font-weight: 700;
  font-size: 22.4842px;
  line-height: 30px;
  color: #ffffff;
  padding: 6px;
  width: 44px;
  height: 44px;
  text-align: center;
}

.step__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #494947;
  margin-bottom: 48px;
}

.steps__item-title_2 {
  color: #fff;
}

.step__content-item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #171716;
  margin-bottom: 48px;
  padding-left: 24px;
}

.step__content-item::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background: url(../images/step/arrow-orange.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 13px;
  height: 14px;
}

.step__content-item:last-child {
  margin-bottom: 0;
}

.step__item-number-2 {
  background-color: #fff;
  color: #fc6652;
}

.step__item-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 48px;
}

.step__item-img-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  margin-bottom: 36px;
}

.step__item-block-btn {
  text-align: center;
}

.step__item-btn {
  position: relative;
  width: 334px;
  height: 77px;
  background: #ffffff;
  border-radius: 84px;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #fc6652;
  padding: 26px 58px 26px 10px;
  transition: all 0.3s ease-in;
}

.step__item-btn:hover {
  transform: translateY(-6px);
}

.step__item-btn-img {
  position: absolute;
  top: 16px;
  right: 20px;
}

.step__item-img-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.footer__content-item_right {
  text-align: right;
}
.footer__content-text {
  margin-bottom: 16px;
}

.footer__content-text:last-child {
  margin-bottom: 0;
}

.footer__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer__content-text_link {
  transition: color 0.3s ease-in;
}

.footer__content-text_link:hover {
  color: #fc6652;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}

.footer__social-item {
  transition: all 0.3s ease-in;
}

.footer__social-item:hover {
  transform: translateY(-7px);
}

@media (max-width: 1270px) {
  .header__picture {
    justify-self: end;
  }
  .header__picture-img {
    max-width: 300px;
  }
}

@media (max-width: 1220px) {
  .step-one__title::after {
    display: none;
  }
  .step-two__content::after {
    display: none;
  }

  .step-two__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step-two__tests {
    order: 1;
    margin-bottom: 44px;
  }

  .step-two__content {
    order: 2;
    margin-bottom: 64px;
  }

  .step-two__btn-block {
    order: 3;
  }

  .step-three__list {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .step-one__video {
    flex-wrap: wrap;
    justify-content: center;
  }
  .step-one__video-big {
    background-size: contain;
    max-width: 688px;
    max-height: 500px;
  }

  .three {
    background: #000000;
  }

  .three-orange {
    display: none;
  }

  .three-man {
    width: 250px;
    top: -6px;
  }

  .four__content-img {
    max-width: 400px;
  }

  .step-four__content-img {
    text-align: right;
  }

  .step-four__line-1,
  .step-four__line-2 {
    display: none;
  }
}

@media (max-width: 1170px) {
  .step__list {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1100px) {
  .step-five__inner {
    display: flex;
    flex-direction: column;
  }

  .step-five__img-block {
    order: 2;
    margin-bottom: 30px;
  }

  .step-five__content {
    order: 1;
  }

  .step-five__content-btn {
    order: 3;
  }
  .step-five__line-block {
    top: 544px;
  }
  .step-five__content::after {
    left: 5px;
  }
}

@media (max-width: 1060px) {
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .header-content__block {
    order: 1;
    text-align: center;
    margin-bottom: 24px;
  }

  .header-content__block-title,
  .header-content__block-text {
    margin: 0 auto;
    width: auto;
    max-width: 744px;
  }

  .header-content__link {
    order: 3;
  }

  .header__picture {
    order: 2;
    margin-bottom: 54px;
  }
  .header-content__link {
    margin-bottom: 0;
  }
  .header-content__item_none {
    display: none;
  }

  .step-six__inner {
    display: flex;
    flex-direction: column;
  }

  .step-six__content {
    align-self: auto;
    margin-bottom: 50px;
  }

  .step-six__content-title {
    padding-left: 84px;
    order: 1;
  }
  .step-six__content-title::after {
    left: 5px;
    width: 68px;
  }

  .step-six__button {
    order: 3;
  }

  .step-six__imgs {
    order: 2;
  }
  .step-six__title-number {
    bottom: auto;
  }
}

@media (max-width: 930px) {
  .three-block__dop {
    bottom: -180px;
  }
  .three {
    height: auto;
  }
  .three__inner {
    flex-direction: column;
  }

  .three__text {
    margin-bottom: 30px;
  }

  .three-man {
    left: auto;
  }
  .step-two {
    padding-bottom: 72px;
  }
}

@media (max-width: 880px) {
  .three-man {
    top: -68px;
    right: -10px;
    width: 184px;
  }

  .three__text-one {
    font-size: 18px;
    line-height: 24px;
  }

  .three__text-two {
    font-size: 13px;
    line-height: 18px;
    max-width: 150px;
  }
  .three__inner {
    align-items: flex-start;
  }
  .step-three__title-number {
    font-size: 196px;
    top: 110px;
  }

  .step-four__inner {
    display: flex;
    flex-direction: column;
  }

  .step-four__content {
    align-self: auto;
    order: 1;
  }

  .step-four__content-btn {
    align-self: auto;
    order: 3;
  }

  .step-four__content-img {
    order: 2;
  }
  .step-five {
    margin-bottom: 80px;
  }

  .step-six__inner {
    grid-row-gap: 0;
  }
}

@media (max-width: 770px) {
  .step-two__content-img {
    max-width: 700px;
    width: 100%;
  }
  .step-two__content-logo {
    padding-right: 0;
  }
}

@media (max-width: 705px) {
  .step-one__video-big {
    background-size: contain;
    max-width: 552px;
    max-height: 400px;
  }
  .step-one__title,
  .step-one__title-span,
  .span-color {
    font-size: 46px;
  }

  .step-one__title {
    margin-bottom: 20px;
  }

  .step-one__title-number {
    top: 588px;
  }
  .step-two__cub {
    display: none;
  }

  .step-two__content-inner {
    gap: 140px;
  }
  .step-five__line-block {
    max-width: 520px;
  }
  .footer__content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__content-item_right {
    order: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__content-text {
    order: 1;
    font-size: 7px;
    line-height: 10px;
    text-align: center;
  }

  .footer__content-text_anton {
    font-size: 13px;
    line-height: 18px;
  }

  .footer__content-text_link {
    order: 2;
  }

  .footer__content-item_left {
    order: 2;
  }
  .footer__social-list {
    gap: 24px;
  }
}

@media (max-width: 600px) {
  .step-six__img-block-1,
  .step-six__img-block-4,
  .step-six__img-block-5 {
    display: none;
  }
}

@media (max-width: 568px) {
  .step-one__video-big {
    max-width: 488px;
    max-height: 356px;
  }
  .video-big__play-border {
    width: 60px;
    height: 60px;
  }
  .video-big__play-img {
    width: 20px;
    height: 20px;
  }
  .step-one__video-text {
    font-size: 14px;
    max-width: 104px;
  }
  .step-one__img-kvadrat {
    display: none;
  }

  .step-three__cub-3,
  .step-three__cub-border,
  .step-three__cub-border-small {
    display: none;
  }
  .step-three__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .step-three__item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    max-width: 162px;
  }

  .step-three__item-img {
    max-width: 136px;
    height: 120px;
  }

  .step-three__item::after {
    width: 40px;
  }
  .step-three__item {
    height: 132px;
  }

  .three__btn-reaction {
    font-size: 18px;
    line-height: 24px;
    width: 296px;
  }

  .step-four__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .step-four__content-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .step-four__title-number {
    font-weight: 700;
    font-size: 196px;
    left: 94px;
  }

  .btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: 246px;
    height: 56px;
    padding: 0 38px 0 0px;
  }

  .step-four__content-btn-img {
    width: 22px;
    height: 28px;
    top: 16px;
    right: 24px;
  }
  .four__content-img {
    max-width: 344px;
  }

  .step-six__title-number {
    font-weight: 700;
    font-size: 196px;
  }

  .step-six__content-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
  }

  .step-six__content-title::after {
    top: 12px;
  }

  .step-six__content-subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .step-six__content-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .step-six__img-2-text,
  .step-six__img-3-text,
  .step-six__img-6-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .step-six__img-2-text {
    left: 8px;
    width: 146px;
  }

  .step-six__img-3-text {
    width: 170px;
    right: 34px;
  }

  .step-six__img-3-text::after {
    left: 72px;
  }

  .step-six__img-6-logo {
    width: 100px;
  }
  .step-six__img-2-text::after {
    left: 68px;
  }

  .step-six__button {
    text-align: center;
  }

  .step-six__button-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .step-six__button-img {
    width: 26px;
    height: 30px;
  }

  .step-six__button-img {
    top: 22px;
  }
  .step__item {
    padding-top: 14px;
    min-height: auto;
  }

  .step__title {
    font-size: 24px;
    line-height: 32px;
  }
  .step__item-number {
    left: 0;
  }
  .step__item-number-3 {
    right: auto;
    left: 0;
  }
  .step__item-title {
    font-size: 16px;
    line-height: 22px;
    padding-left: 46px;
  }

  .step__content-item {
    font-size: 13px;
    line-height: 18px;
  }

  .step__item-btn {
    font-size: 18px;
    line-height: 24px;
    width: 226px;
  }

  .step__item-btn-img {
    width: 38px;
    height: 36px;
    top: 20px;
  }

  .item-img-2 {
    width: 90px;
  }
  .step-six {
    margin-bottom: 66px;
  }
}

@media (max-width: 560px) {
  .header__inner {
    padding: 26px 0 30px;
  }
  .logo__img {
    max-width: 108px;
  }

  .header__nav-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .header-content__block-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .header-content__block-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .header-content__item-link--orange {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 106px 16px 54px;
  }
  .header-content__item-link--orange::after {
    top: 16px;
  }
  .header-content__item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .header__picture-img {
    max-width: 225px;
  }

  .step-one__title-number {
    font-size: 196px;
  }

  .step-two__content-inner {
    gap: 132px;
  }

  .step-two__tests-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .step-two__content-img {
    height: 200px;
  }

  .step-two__content-text {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    max-width: 106px;
  }

  .step-two__content-logo {
    max-width: 92px;
  }

  .step-two__title-number {
    font-weight: 700;
    font-size: 196px;
    top: -16px;
  }

  .step-five__subtitle {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
  }
  .step-five__subtitle-dop {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .step-five__content-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .step-five__title-number {
    font-weight: 700;
    font-size: 196px;
  }
  .step-five__line-block {
    top: 290px;
    height: 260px;
  }
  .step-five__img {
    max-width: 410px;
    max-height: 344px;
  }

  .five-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 21px 118px 21px 52px;
  }
  .step-five__content-btn {
    text-align: center;
  }

  .step-five__content-btn-img {
    width: 34px;
    height: 34px;
    top: 16px;
  }
  .step-five__line-block {
    max-width: 386px;
  }
}

@media (max-width: 508px) {
  .step-one {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .step-one__video-big {
    max-width: 375px;
    max-height: 256px;
  }
  .step-one__video-item-small {
    width: 108px;
    height: 70px;
    border-radius: 10px;
  }

  .step-one__video-small-text {
    font-size: 16px;
    max-width: 230px;
  }

  .step-one__item {
    gap: 10px;
  }

  .step-one__gramofon-text {
    font-size: 16px;
  }
  .step-one__title,
  .step-one__title-span,
  .span-color {
    font-size: 20px;
    line-height: 22px;
  }

  .step-one__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .step-one__title-number {
    top: 336px;
  }
}

@media (max-width: 460px) {
  .step-six__img-block-3 {
    width: 120px;
  }
  .step-six__img-2 {
    width: 100px;
  }

  .step-six__img-3 {
    width: 146px;
  }

  .step-six__img-6 {
    position: relative;
    bottom: 84px;
    left: -34px;
    width: 140px;
  }

  .step-six__img-block-2 {
    padding-left: 32px;
  }

  .step-six__img-block-2::after {
    bottom: 152px;
    right: -42px;
  }
  .step-six__img-block-3::after {
    bottom: 0;
    right: -4px;
  }

  .step-six__img-6-skew {
    top: -96px;
    left: 146px;
  }

  .step-six__imgs::after {
    width: 340px;
    height: 392px;
  }

  .step-six__img-3 {
    padding-right: 34px;
  }

  .step-six__title-number {
    top: 90px;
  }
  .step-six__button {
    margin-top: -94px;
  }
}

@media (max-width: 442px) {
  .three-block__dop {
    bottom: -238px;
  }

  .step-five__line-block {
    max-width: 324px;
  }

  .step-five__img {
    max-width: 280px;
    max-height: 244px;
  }
  .five-btn {
    width: 342px;
    padding: 21px 70px 21px 26px;
  }
}

@media (max-width: 408px) {
  .section-wrapper {
    padding-bottom: 28px;
  }
  .step {
    padding-bottom: 30px;
    margin-bottom: 26px;
  }
  .step-two__content-inner {
    gap: 100px;
  }

  .step-two__tests-btn {
    width: 246px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 14px 0 30px 22px;
  }

  .tests-btn__img {
    width: 36px;
    height: 24px;
    top: 14px;
    right: 28px;
  }
}

.hide {
  display: none;
}
