body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #555555;
}

.title-number {
  position: absolute;
  z-index: -1;
  font-weight: 700;
  font-size: 324.74px;
  background-image: linear-gradient(
    161.72deg,
    #ffcfc9 -20.29%,
    rgba(255, 228, 224, 0) 116.82%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  position: relative;
  /* min-height: 100vh; */
  background-image: url("../images/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 102px;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/header/header-duga.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 81px;
  height: 50px;
}

.header__inner {
  padding: 36px 0 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  padding-right: 13px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.header__nav-link--registr {
  padding: 5px 20px;
  border: 0.5px solid #fc6652;
  border-radius: 20px;
}

.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.header-content__block {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}
.header-content__link {
  grid-area: 2 / 1 / 3 / 2;
}
.header__picture {
  grid-area: 1 / 2 / 3 / 3;
}

.header-content__block-title {
  width: 688px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
}

.header-content__block-span {
  color: #fc6652;
}

.header-content__block-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #b4b4b4;
}

.header-content__link {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin-bottom: 56px;
}

.header-content__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 13px;
}

.header-content__item-link--orange {
  background: #fc6652;
  border-radius: 100px;
  padding: 24px 92px 24px 48px;
  position: relative;
}

.header-content__item-link--orange::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 32px;
  width: 23px;
  height: 23px;
  background-image: url("../images/header/play.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.header-content__item-link--border {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 24px 106px 24px 62px;
  position: relative;
}

.header-content__item-link--border::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 44px;
  width: 25px;
  height: 23px;
  background-image: url("../images/header/arrow.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.header-content__item-text {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #b6b6b6;
}

.header__btn-block {
  position: relative;
}

.header__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62px;
  cursor: pointer;
  z-index: 2;
  transition: top 0.2s ease-in;
}

.header__btn:hover {
  top: 66px;
}

.step-one {
  padding-top: 152px;
  padding-bottom: 295px;
}

.step-one__inner {
  position: relative;
}

.step-one__img-kvadrat {
  position: absolute;
  bottom: -128px;
  left: -164px;
  z-index: -1;
}

.step-one__title {
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #494947;
  margin-bottom: 160px;
}
.step-one__title::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 62px;
  background-image: url("../images/section-01/title.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1068px;
  height: 48px;
}
.step-one__title-span {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  color: #fc6652;
  letter-spacing: 4px;
}

.step-one__title-number {
  top: 100px;
  right: 23px;
}

.span-color {
  color: #fc6652;
}

.step-one__video-big {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-width: 688px;
  height: 500px;
  box-shadow: 0px 30px 30px rgba(109, 94, 88, 0.25);
  border-radius: 20px;
  display: flex !important;
  justify-content: center;
  position: relative;
}

.step-one__video-big:hover .step-one__video-text {
  transform: translateY(-10px);
  text-shadow: 2px 9px 11px #ce5937;
}

.step-one__subtitle {
  margin-bottom: 32px;
}

.step-one__video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.video-big__play {
  position: absolute;
  top: 20%;
  left: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.video-big__play-border {
  width: 140px;
  height: 140px;
  border: 1px solid rgba(203, 59, 40, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one__video-text {
  font-weight: 500;
  font-size: 20.8232px;
  line-height: 27px;
  color: #ffffff;
  max-width: 16px;
  transition: all 0.2s ease-in;
}

.step-one__video-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.step-one__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.step-one__video-small-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #494947;
  max-width: 277px;
}

.step-one__video-item-small {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 175px;
  height: 112px;
  box-shadow: 0px 30px 30px rgba(109, 94, 88, 0.25);
  border-radius: 20px;
}
.step-one__video-item-small:hover img {
  transform: scale(1.2);
}

.step-one__video-item-small img {
  transition: all 0.2s ease-in;
}

.step-one__one__gramofon-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.line-1 {
  position: absolute;
  top: 14px;
  left: 34px;
  animation: gramofon 0.3s ease-in-out infinite;
}

.line-2 {
  position: absolute;
  top: 18px;
  left: 42px;
  transform: rotate(45deg);
  animation: gramofon 0.3s ease-in-out infinite;
}

.line-3 {
  position: absolute;
  top: 28px;
  left: 46px;
  transform: rotate(88deg);
  animation: gramofon 0.3s ease-in-out infinite;
}

@keyframes gramofon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.step-one__gramofon-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #494947;
}

.video-small__span {
  color: #fc6652;
}

.step-two {
  position: relative;
  padding-bottom: 232px;
}

.step-two__cub {
  position: absolute;
  top: -312px;
  right: 0;
}

.step-two__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 64px;
  grid-row-gap: 0px;
}
.step-two__title-number {
  top: -178px;
  right: 0;
}
.step-two__content {
  position: relative;
  grid-area: 1 / 1 / 3 / 2;
}
.step-two__content::after {
  content: "";
  position: absolute;
  top: -22px;
  right: -132px;
  background: url(../images/section-02/ramka.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 764px;
  height: 460px;
  z-index: -1;
}

.step-two__content-arrows {
  position: absolute;
  margin: auto;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 26px;
  width: 46px;
  height: 46px;
}

.step-two__tests {
  padding-top: 34px;
  grid-area: 1 / 2 / 2 / 3;
}

.step-two__btn-block {
  position: relative;
  grid-area: 2 / 2 / 3 / 3;
}

.tests-btn__img {
  position: absolute;
  top: 18px;
  right: 36px;
  cursor: pointer;
}

.step-two__content-inner {
  display: flex;
  justify-content: center;
  gap: 180px;
}

.step-two__content-logo {
  padding-right: 52px;
  align-self: flex-end;
}

.step-two__content-text {
  max-width: 214px;
  font-weight: 700;
  font-size: 27px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}
.step-two__content-img {
  width: 756px;
  height: 337px;
}

.step-two__tests-title {
  margin-bottom: 24px;
}

.step-two__tests-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #555555;
}

.step-two__tests-btn {
  display: inline-block;
  width: 380px;
  height: 84px;
  background: #fc6652;
  box-shadow: 0px 20px 30px rgba(66, 44, 34, 0.33);
  padding: 22px 0 30px 65px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  border: 2px solid #fc6652;
  transition: all 0.3s ease-in;
}

.step-two__btn-block:hover .step-two__tests-btn {
  background-color: #fff;
  color: #fc6652;
  border: 2px solid #fc6652;
}

.tests-btn__img-rect,
.tests-btn__img-circle,
.tests-btn__img path {
  transition: all 0.3s ease-in;
}

.step-two__btn-block:hover .tests-btn__img .tests-btn__img-rect,
.step-two__btn-block:hover .tests-btn__img .tests-btn__img-circle {
  fill: #fc6652;
}

.step-two__btn-block:hover .tests-btn__img path {
  stroke: #fff;
}

.block-position {
  position: relative;
  padding-bottom: 198px;
}

.three-block__dop {
  position: absolute;
  bottom: -130px;
  left: 0;
  width: 100%;
}

.step-three {
  position: relative;
}

.step-three__cub-3 {
  position: absolute;
  top: -274px;
  left: -14px;
}

.step-three__cub-border {
  position: absolute;
  top: 93px;
  left: -70px;
  right: 0;
  margin: auto;
}

.step-three__cub-border-small {
  position: absolute;
  top: 316px;
  right: -6px;
}

.step-three__subtitle {
  margin-bottom: 46px;
}
.step-three__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.step-three__item {
  position: relative;
  max-width: 585px;
  height: 224px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(67, 45, 36, 0.25);
  border-radius: 20px;
  padding: 0 0 0 30px;
  transition: all 0.3s ease-in;
}

.step-three__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  background: url(../images/section-03/comp-orange.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 71px;
  height: 12px;
}

.step-three__item:hover {
  transform: translateY(-6px);
  box-shadow: 0px 0px 40px rgba(11, 3, 0, 0.25);
}

.step-three__item-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #555555;
}

.step-three__item-span {
  font-weight: 700;
}

.three-block {
  position: relative;
  z-index: 4;
}

.three {
  position: relative;
  padding: 44px 68px 38px 20px;
  height: 232px;
  max-width: 1200px;
  margin: 0 auto;
  background: url(../images/section-03/bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(245, 94, 34, 0.25);
}

.step-three__title-number {
  font-weight: 700;
  font-size: 286.111px;
  top: -58px;
  right: -10px;
  z-index: 2;
}

.three__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three__text-one {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 21px;
}

.three__text-two {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  max-width: 346px;
}

.three__btn {
  position: relative;
}

.three__btn:hover .three__btn-reaction {
  color: #fff;
  background-color: #fc6652;
  border: 2px solid #fff;
}

.three__btn-grom {
  position: absolute;
  top: 16px;
  right: 18px;
  z-index: 3;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.three__btn:hover .three__btn-grom path {
  fill: #fff;
}

.three__btn-reaction {
  position: relative;
  z-index: 2;
  padding: 20px 70px 20px 20px;
  background: #ffffff;
  box-shadow: 0px 8.65961px 17.3192px rgba(66, 44, 34, 0.19);
  border-radius: 65.1971px;
  font-weight: 700;
  font-size: 22.5843px;
  line-height: 30px;
  color: #fc6652;
  border: 2px solid transparent;
  transition: all 0.3s ease-in;
}

.three-orange {
  position: absolute;
  top: 0;
  right: 0;
}

.three-man {
  position: absolute;
  top: -102px;
  left: 0;
  right: 96px;
  margin: auto;
}

.section-wrapper {
  padding-bottom: 400px;
  background: url(../images/bg-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
